@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700");

html {
  scroll-behavior: smooth;
  background-color: #e5e5e5;
}

body {
  background: #fcfaf6;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  text-wrap: balance;
}

img {
  display: block;
}

a {
  color: inherit;
}
