.icon {
  fill: transparent;
  stroke: transparent;
  //   width: 62px;
  //   height: 62px;
}

.icon--facebook {
  width: 24px;
  height: 24px;
}

// .icon--facebook {
//   fill: rgb(26, 134, 235);
//   transition: all 0.2s ease-in;

//   &:hover {
//     fill: rgb(17, 193, 90);
//   }
// }
