.swiper {
  max-width: 1440px;
}

.swiper-slide {
  display: flex !important;
}

.swiper__img-right,
.swiper__img-left {
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper__img {
  padding: 109px 15px;
  background: #f5f1e9;
  color: var(--title-color);
  text-align: center;

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
  }
}

.swiper__img-top {
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.swiper__img-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-color);

  border: 1px solid rgba(170, 160, 152, 0.29);
  border-radius: 4px;
  padding: 19px 41px;
  background: #fff;
}
